<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title or "Glen's British Banjo Collection" }}</title>

  <link rel="stylesheet" href="/styles.css">
</head>

<body>

<header>
  <h1>Glen's British Banjo Collection</h1>

  <nav>
  <a href="/">Home</a>
  <a href="/selling/">For Sale</a>
  <a href="/collection/">Collection</a>
  <a href="/contact/">Contact</a>
</nav>
</header>

<main>
  {{ content | safe }}
</main>
<script src="/script.js"></script>
</body>
</html>